body {
  background-image: url(https://thumbs.dreamstime.com/z/seamless-pattern-sun-clouds-rain-rainbow-wallpaper-children-room-weather-background-seamless-pattern-sun-clouds-156099778.jpg);
  background-size: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
h1 {
  color: #ff9595;
}

ul {
  margin: 0;
  padding: 0;
  color: #342b38;
  font-size: 16px;
}

li {
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-color: white;

  padding: 20px;
  border: 1px solid #342b38;
  border-radius: 5px;
}

.city-temperature {
  margin-top: 20px;
}

.weather-temperature img {
  margin-right: 20px;
  height: 64 px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.city {
  font-size: 32px;
}
